.activity{
  border: 1px solid black;
  border-radius: 1.3rem;
  background-color: white;
  /* padding: 0.5em 1em; */
  overflow: hidden;
  /* height: 3em; */
}

.preview{
  height: 25vh;
}

.preview-img{
  height: 100%;
  /* width: 10rem; */
  width: auto;
  /* margin: -1em 1em -1em -1em; */
}

.preview-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-info{
  font-family: 'ABC';
  font-size: 1rem;
  max-height: 23em;
  margin: 1em;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.preview-info h1{
  font-size: 1.2rem;
}

.preview-info p{
  position: absolute;
  /* float: right; */
  right: 2vw;
  margin-top: 1.2rem;
  width: calc(90vw - 300px);
  text-align: right;
  overflow: scroll;
}
.preview-info span{


  align-self: end;
  font-size: 0.7rem;
}
::-webkit-scrollbar{
  display: none;
}

/*
#activities{
    background-color: black;
    color:white
}
*/

/* dropdown css */

.btn {
  padding: 0.3rem 1rem;
  border: 1px solid black;
  border-radius: 1.3rem;
  background-color: #ddd0;
  outline: none;
  cursor: pointer;
  font-size: 0.7rem;
  font-family: 'ABC';
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #000;
  color: white;
}

.filter>*{
  flex: 1;
  margin: auto;
}
