.activity{
  border: 1px solid black;
  border-radius: 2em;
  background-color: white;
  /* padding: 0.5em 1em; */
  overflow: hidden;
  /* height: 3em; */
}

.preview{
  height: 25vh;
}

.preview-img{
  height: 100%;
  /* width: 10rem; */
  width: auto;
  /* margin: -1em 1em -1em -1em; */
}

.preview-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-info{
  font-family: 'ABC';
  font-size: 1rem;
  max-height: 23em;
  margin: 1em;
  overflow: scroll;
}

.preview-info h1{
  font-size: 1.5rem;
}

::-webkit-scrollbar{
  display: none;
}
