@media (max-width: 480px){
  .body-flex{
    height: 93vh;
  }
  h1{
    font-size:2rem
  }
  p{
    font-size:1rem;
  }
  .newswrapper h3{
    font-size: 1.2rem;
  }
  .menu-item{
    font-size: 1rem;
  }
  .preview{
    height: unset;
  }
  .preview-image{

  }
  .activity .preview{

  }
  .insidewrapper{
  flex-direction: column;
  }
  .headlinewrapper{

  }
  .headline-info, .headline .preview-img{
    margin-left: -34px;
  }
  .swiper-wrapper{
    margin: 0px 2.5rem;
  }
  .preview-info span, .preview-info p{
    font-size: 1rem;
    right:0;
    text-align: left;
    position: relative;
  }
.desktop{
  display:none;
}
.phone{
  display:block;
}
.projekt.hflex, .infos.hflex, .imp.hflex, .video.hflex{
  flex-direction: column;
}
  .headline{
    margin-bottom: 0;
    height: 70%;
  }
  .projekt-text h1{
    font-size: 1.7rem;
  }
  .short-about, .news{
    height: unset;
  }
  .short-about .content, .news .content, .impressum .content, .datenschutz .content{
    margin: 1rem 2.5rem;

  }
  .projekt-text {
    padding:1rem 2.5rem;
    overflow-x: hidden;
  }
  .preview-img{
    width:40%;
    object-fit: cover;
    height:unset;
  }
  .preview-info p{
    width: 50vw;
    padding-top: 10pt;
  }
  .preview-info span{
    /* font-size: 13pt; */
  }
  .about, .kontakt{
    overflow: unset;
    width: unset;
  }
}
.imp.hflex{
  overflow-x: hidden;
}
.impressum, .datenschutz{
  overflow: unset;
}
.expand{
  display:none;
}
.video .projekt-text{
  max-width: unset;
  display: block;
}

/* 2532x1170 pixels at 460ppi iphone 12 pro*/
@media only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3) {
      .body-flex{
        height: 85vh;
      }
      h1{
        font-size:17pt;
      }
      p{
        font-size:13pt;
      }
    }

@media only screen (min-width: 481px) and (max-width: 768px){
...
}
@media only screen (min-width: 769px) and (max-width: 1165px){
...
}
