/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: 'ABC';
  src: url('../fonts/ABCMonumentGroteskMono-Regular.otf');
}


.menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* column-gap: 1em; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* margin-left: 2vw; */
  /* margin-right: 2vw; */
  position: relative;
  /*margin-top:0.5em;*/


}

.menu > *{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-item{
  /* padding: 0.5em 1em 0.5em 1em; */
  padding: 0.5rem 1rem;
  border: 1px solid black;
  text-align: center;
  font-family: 'ABC';
  font-size: 0.7rem;
  background-color: white;
  /* width: 100%; */
  /* margin: 5px; */
  /* min-width: 100px; */
  /* width: calc(10vw - 12px); */
  /* flex-grow: 1; */

  border-radius: 2rem;
}

a{
  text-decoration: none;
  color: black;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px !important;
  height: 40px;
  /* overflow: visible; */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  right: auto;
  bottom: 3px;
  background-color: black;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  /* -webkit-transform: translateX(26px); */
  /* -ms-transform: translateX(26px); */
  /* transform: translateX(100%); */
  left: calc(100% - 36px);
  /* right: 4px; */
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

/* top and bottom */
.body-flex{
  top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100vw - 4vw);
}


.highlighted{
    background-color: black !important;
    color:white;
}

.menu-item:hover{
  background-color: black !important;
  color:white;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
/*
.paused {
  animation-play-state: paused;
}
*/
