@font-face {
  font-family: 'ABC';
  src: url('../fonts/ABCMonumentGroteskMono-Regular.otf');
}

body{
  overflow: hidden;
}

.body-nomenu > *{
  flex: 1;
}

.projekt-image{
  /* width: 50%; */
  height: auto;
  overflow: scroll;
}

.projekt-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-fit: cover;
  background-color: #ffffffaa;
}

.projekt-text{
  font-family: 'ABC';
  font-size: 1rem;
  /* width: 50%; */
  overflow: scroll;
  background-color: #ffffffaa;
  padding: 1rem 5rem;
}

.projekt-text h1{
  font-size: 1.2rem;
}

.projekt-text span{
  background-color: white;
}

.projekt-text img{
  width: 100%;
}

.projekt-text .bg{
  position: absolute;
  top: 0;
  left: 0;
  /* clip-path: url(#mask); */
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: blur(50px);
  object-fit: cover;
}

.swiper {
        width: 100%;
        height: 100%;
      }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  height: 100%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev{
  /* mix-blend-mode: difference; */
  color: black !important;
}
.box img{
  border-radius: 1.3rem;
  box-sizing: content-box;
}

/*
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
